
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back{
    background-image: url("images/edit.jpg");
    opacity:1 ;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.white {
    color: white;
} 

.subtitle{
    
    color:rgb(255,252,0);
    font-weight: 100;
}

.color{
    color:black;
    text-align: center;
}
.tabs{
    margin-top: 2%;
}

.warn{
    color:rgb(255,56,96);
}
