
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}



.back{
    background-image: url("images/edit.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    
}

.white {
    color: white;
} 

.subtitle{
    
    color:rgb(255,252,0);
    font-weight: 100;
}

.color{
    color:black;
    text-align: center;
}
.tabs{
    margin-top: 2%;
}

.warn{
    color:rgb(255,56,96);
}

.ball { 
    margin-top: 3%;
    transition: all .2s ease-in-out; 
    height: 100px;
    width: 100px;
}
.ball:hover { transform: scale(1.1); }

.bullet{
    list-style-image: url('images/arrow-point-to-right.png');
    padding: 10px;
    margin: 10px;
}


