
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back{
    background-image: url("images/edit.jpg");
    opacity:1 ;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.title {
    font-size:55px;
    color: white;
} 

.subtitle{
    font-size:30px;
    color:rgb(255,252,0);
    font-weight: 100;
}

.color{
    color:black;
    text-align: center;
}
